<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://splashportal.cloud4wi.com/myapps/v1/myapps-sdk.js"></script>
</head>
<body>

  <div id="intro">
    <h1>Insert your ticket</h1>
  <p>For demo only, valid ticket is: 0603200002</p>

    <!-- our form -->
    <form id='userForm'>
      <div>
        <input type='text' name='ticket' placeholder='Name' /></div>
      <div>
        <input type='submit' value='Submit' />
      </div>
    </form>
  </div>
  

  <!-- where the response will be displayed -->
  <div id='response'></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>


<script>
$(document).ready(function(){

  $('#userForm').submit(function(){

  // show that something is loading
  $('#response').html("<b>Loading response...</b>");


  // Call ajax for pass data to other place
  $.ajax({
  type: 'POST',
  url: '/validate',
  async: false,
  data: $(this).serialize(), // getting filed value in serialize form
  success: function (result) {
      console.log("status: "+result.status);
      if (result.status == 'valid') {
        $('#intro').hide();
        $('#response').html('Thanks. Redirecting in 3 sec');
        MYAPPS.goNext();
      }
      else {
        $('#response').html('Ticket is not valid');
      }
    },
      error: function(result){
        //console.log("error: "+result);
        $('#response').html('Ticket is not valid');
    }

  })

  .fail(function() { // if fail then getting message
    // just in case posting your form failed
    $('#response').html('Ticket is not valid');

  });



  // to prevent refreshing the whole page page
  return false;

  });

});
</script>

</body>
</html>