<!DOCTYPE html>
<html>
<head>
  <title>Verify your ticket</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

  <div id="intro">
    <h1>Insert your ticket</h1>
    <p>For demo only, valid ticket is: 0603200002</p>

    <!-- form -->
    <form id='Form'>
      <div>
        <input type='text' name='ticket' placeholder='Name' /></div>
      <div>
        <input type='submit' value='Submit' />
      </div>
    </form>
  </div>
  

  <!-- Respons in case of errors -->
  <div id='response'></div>


  <!-- Javascripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js "></script>
  <script src="https://splashportal.cloud4wi.com/myapps/v1/myapps-sdk.js"></script>


  <!-- Handling form submit -->
  <script>
  $(document).ready(function(){

    $('#Form').submit(function(){

      // show that something is loading
      $('#response').html("<b>VErifying your ticket...</b>");

      // Call ajax for pass data to other place
      $.ajax({
      type: 'POST',
      url: '/validate',
      async: false,
      data: $(this).serialize(), // getting filed value in serialize form
      success: function (result) {
          console.log("status: "+result.status);
          if (result.status == 'valid') {
            $('#intro').hide();
            $('#response').html('Redirecting...');
            MYAPPS.goNext();
          }
          else {
            $('#response').html('Ticket is not valid');
          }
        },
          error: function(result){
            //console.log("error: "+result);
            $('#response').html('Ticket is not valid');
        }

      })

      .fail(function() { // if fail then getting message
        // just in case posting your form failed
        $('#response').html('Ticket is not valid');

      });

    // prevent refreshing the whole page page
    return false;

    });

  });
  </script>

</body>
</html>